@import url(http://fonts.googleapis.com/earlyaccess/notokufiarabic.css);
body {
    padding-top: 51px;

    text-align: right;
    font-family: 'Noto Kufi Arabic', serif;
    font-weight: lighter;

}

#admin{
    font-weight: bold;
}
#adminJumbo{
    margin-top: 40px;
}
.text-center {
    padding-top: 20px;
}
.col-xs-12 {
    background-color: #fff;
}
.navbar{
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);

}
.panel-collapse {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.pan{
    display: inline-block;
    width: 400px;
}
#sidebar {

    padding-top:80px;
    color: white;
    position:fixed;
    z-index: 1;
    right: 0;
    top: 0;
    height: 100%;
    background: #73af73;
    box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.75);
}
#sidebar .nav {
    width: 100%;

}
th ,td{
    text-align: center;
}
#sidebar li {
    /* border:0 #f2f2f2 solid;
     border-bottom-width:1px;*/
    color: white;
    font-size: 18px;
}
#sidebar li a {
    color: white;
}

#sidebar .active a{
    background: #fff;
    color: #73af73;
}
#sidebar .active a:hover{
    background: #fff;
    color: #788B78;
}
#sidebar li a:hover {
    background: #a6c6a6;
}
#main{
    margin-right: 15%;
}
.formm{
    width: 85%;
}
.form-group{
    margin: 15px 15px;
    padding: 10px 0;
}
.ft{
    color: #73af73;
    border-bottom: solid #73af73 1px;
    width: 100%;
    padding-bottom: 20px;
}

.fp{

}

.ic{
    width: 100px;
}
.teacherimg {

    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid;
}
.form-group label{

    margin-left: 15px;
    text-align: center;
    color: #777;
    width: 100px;
}

.colla.btns
{
    margin-right: auto;
    position: relative;
}
.bm{
    margin: 20px 0;
}
.btns{
    display: inline-block;
    width: 110px;
    margin: 20px auto;

}
.mc{
    margin-left: 100px;
}
.mi {
    width: 90%;
}
/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-right
    .sidebar-offcanvas {
        left: -31.6%;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        right: -31.6%;
    }
    .row-offcanvas-right.active {
        left: 31.6%;
    }
    .row-offcanvas-left.active {
        right: 31.6%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 31.6%;
    }
    #sidebar {
        padding-top:80;
        visibility: hidden;
    }
    #sidebar.active {
        padding-top:80;
        visibility: visible;
    }
    .navbar-right {
        position: fixed;
        top: 2px;
        left: 20px;
    }
    #sidebar{
        width: 200px;
        margin-left: 2px;
        padding-left: 2px;
    }
    #main {
        margin: 0;
    }
    .form-group label{

        margin-left: 15px;
        text-align: center;
        color: #777;
        width: 100%;
    }
    .input-group{
        width: 100%;
    }
}

